


.mainContainer{
    box-sizing: border-box;
    width: 100%;
    max-width: 768px;
    padding: 0 24px;
    height: 100%;
}

.headerContact{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 232px;
    height: 40px;
}
.secondaryButtons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 88px;
    height: 40px;
}
@media screen and (max-width: 700px) {
    .mainContainer{
        padding: 0 ;
    }
    .headerContact{
        height: auto;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
    .buttons{
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
  }